# Object files
*.o
*.ko

# Libraries
*.lib
*.a
*.Po

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Kernel stuff
*.mod.c
*.order
*.symvers
linux-kernel/.*

# Eclipse stuff
*/.deps
.cproject
.settings
.project

# pkgconfig stuff
ultimarc*.pc

# Autotool stuff
/autom4te.cache/
/config/
Makefile
Makefile.in
src/libs/Makefile.in
src/umtool/Makefile.in
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
INSTALL
install-sh
libtool
aclocal.m4
config.guess
config.sub
depcomp
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
*.libs
