# Object files
*.o
*.ko

# Libraries
*.lib
*.a
*.Po

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Kernel stuff
*.mod.c
*.order
*.symvers
linux-kernel/.*

# Eclipse stuff
*/.deps
autom4te.cache
.cproject
.settings
