# Object files
*.o
*.ko

# Libraries
*.lib
*.a
*.Po

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Kernel stuff
*.mod.c
*.order
*.symvers
linux-kernel/.*

# Eclipse stuff
*/.deps
autom4te.cache
.cproject
.settings
.project

# Autotool stuff
/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
*.libs
